[2018-06-08 02:54] dbuduev opened #2 "ConstraintString type appeared in graphql schema on the client"
ConstraintString leaked through introspection. Is it by design?
This makes GraphiQL unhappy.
[code]

ConstraintString can be revealed by the following query:
[code]

[2018-06-08 14:43] confuser commented on #2
No, certainly not by design. Possibly a bug within `graphql-tools`.

[2018-06-13 11:03] yvele commented on #2
I have the same problem, and I filled an issue within `graphql-tools` https://github.com/apollographql/graphql-tools/issues/842

[2018-06-21 04:03] ralphchristianeclipse opened #3 "Why does this directive throws a 400 Bad request?"
Any way to format it instead to be the same with resolver errors?

[2018-06-25 07:32] koresar commented on #2
I found a workaround! Omg, took a while.

Add this to your `.graphql` schema file (if you have one though):

[code]

[2018-06-25 09:35] koresar commented on #2
@confuser hey James,

Quick question. In this article
https://dev-blog.apollodata.com/reusable-graphql-schema-directives-131fb3a177d1
they suggest to override `field.resolver`. See `AuthDirective` example.

Any reason you went by creating the new `ConstraintString` type class?

[2018-06-25 09:42] confuser commented on #2
@koresar The recommendation seemed to be using custom scalar types to achieve this, rather than overriding the resolver function https://www.apollographql.com/docs/graphql-tools/schema-directives.html#Enforcing-value-restrictions I'm certainly open to switching to a resolver function instead if it eases pains people are facing.

[2018-06-25 09:53] confuser commented on #3
This will be because the errors aren't thrown within a resolver function (although that may change, see #2). You can change the status code/error format within your error middleware, by checking for a [ConstraintDirectiveError](https://github.com/confuser/graphql-constraint-directive#constraintdirectiveerror)

[2018-06-25 10:39] koresar commented on #2
Frankly, I tried this:
[code]
But for some reason the `resolve` is never hit. The `visitInputFieldDefinition` is executed for every field though.

So, not sure what to do frankly.

[2018-06-25 11:49] koresar commented on #2
I debugged a little. TL;DR: The `makeExecutableSchema` does not replace the directive object in schema.

* The `graphql-import` people tell you to "declare the `@constraint` scalar in .graphql file". It effectively creates a directive object in schema. Which is right thing to do IMO. My IDE stops complaining about "undeclared directive!".
* The `makeExecutableSchema` accepts the `schemaDirectives`

[2018-06-26 16:11] ralphchristianeclipse commented on #3
@confuser yes it would really help to put the error message directly on the message property

it treats it as a network error

[2018-07-04 10:23] koresar commented on #2
I solved the problem. The `@constaint` is fully working. What I did:
* ditched the `graphql-yoga` and the `graphql-import` with it.

Turns our Prism and Apollo packages are not fully compatible.

[2018-07-04 10:47] confuser commented on #2
@koresar Interesting, so the new `apollo-server` v2 solves the issue with schema stitching without any changes here? I presume it doesn't resolve the problem you mentioned earlier around overwriting the resolver function instead of using custom scalars?

[2018-07-05 01:42] koresar commented on #2
Sorry, should have mentioned. There were actually a lot of changes.

I had to rewrite schema stitching.
* Removed all the Prisma's `#import` statements, and
* used Apollo's [`mergeSchema()`](https://www.apollographql.com/docs/apollo-server/v2/api/graphql-tools.html#mergeSchemas) JS function.

It did solve all the problems I had.

The high level solution: do not use Prisma and Apollo packages in th

[2018-07-06 03:17] koresar opened #4 "Feature request: add the constraint details to field description"
Here is my input field declaration (I'm using SDL files):
[code]

Here is my declaration of the `ConstraintString` type:
[code]

Here is how it looks in a schema browser:
![image](https://user-images.githubusercontent.com/1622575/42358030-07856f5c-811e-11e8-81ca-6ae7ccef9e43.png)

Please note this bit:

### Feature

Is it possible to add info about the actual constraints (min/max length and RegEx

[2018-07-06 06:15] koresar commented on #2
Ok. I was wrong. Again. No, I did not fix all the problems I have. Even Apollo Stack v2 didn't help.

Currently:
* Either directive works, but introspection doesn't.
* Or directive does not work, but introspection works.

If I follow the README.md instructions then I get this error in the GraphQL Playground console: `Invalid or incomplete schema, unknown type: ConstraintString`.

If I add `scalar

[2018-07-06 06:35] koresar commented on #2
I've reported the issue here: https://github.com/apollographql/apollo-server/issues/1303

@confuser It is so frustrating. Do you know any other ways the directive can be implemented? I am ready to do it myself. Just need an idea.

[2018-07-09 16:01] confuser commented on #2
@koresar Were you not able to overwrite the resolver function at all? If not, there is one other way, but it was deprecated in favour of the current approach, so I'd be hesitant of using it... [directiveResolvers](https://www.apollographql.com/docs/graphql-tools/directive-resolvers.html)

[2018-07-10 05:43] koresar commented on #2
I tried directiveResolvers. Exactly the same issue - the directive resolver function is never executed.
https://github.com/apollographql/apollo-server/issues/1303#issuecomment-403700824

I tried all kind of approaches (including reimplementing the directive myself). Nothing works.

Basically, the directive is in a non-working state atm.

[2018-07-10 08:49] confuser commented on #2
Strange... I have a project that uses directiveResolvers as a form of ACL and it works. I'll find some time and investigate what's happening.

[2018-07-10 12:36] koresar commented on #2
Which graphql-tools version it uses?
Also, is your directive for `input` type(s)?

[2018-07-11 12:08] FrankSandqvist commented on #2
I'm currently having exactly the same issue. Super frustrating.

Haven't had any success yet. Switched to Apollo server 2 from Yoga

[2018-07-11 12:09] FrankSandqvist commented on #2
I had an idea of perhaps doing MakeExecutableSchema twice and then combining them, getting the generated validated scalars from the first one into the other one

[2018-07-12 05:43] koresar commented on #2
Hey @FrankSandqvist
The `ApolloServer` constructor accepts only one schema.

How did you attach these two schemas to Playground and to the API?

[2018-07-12 06:05] FrankSandqvist commented on #2
I pass in the merged schema finalSchema

[code]

[2018-07-12 07:44] FrankSandqvist commented on #2
Of course this still doesn't solve the problem that the scalars are public.

For example StringWithMaxLength50WithMinLength5ThatConformsToEMAIL

[2018-07-12 23:38] koresar commented on #2
Dear @FrankSandqvist

People like you deserve monuments erected.

![image](https://user-images.githubusercontent.com/1622575/42664870-6dd1bd62-8680-11e8-80de-5329931f8e92.png)

(That's my way of saying  "thank you, it works").

[2018-07-13 01:02] koresar opened #5 "formatError in the README isn't working with Apollo Stack 2"
This `if` clause doesn't work with Apollo Stack 2. (Haven't checked v1. Sorry.)
[code]

But this one works:
[code]

This is a good thing, because if `@constraint` found several violations in your mutation then all of them will be returned, not just the first one.

[2018-07-13 07:02] FrankSandqvist commented on #2
Hahah, that's awesome! I've always wanted a thinking Shakespeare ape monument in my name 😄

[2018-08-15 06:02] cesarve77 opened #6 "Validate a object?"
I'm wondering if is possible validate a object against the schema

What I want to do is validate the input in the client before send it to graphql server.

[2018-08-17 11:35] pathikdevani commented on #2
Any solution or update on this?

[2018-08-17 11:36] confuser commented on #2
Unfortunately not, dependent on apollo

[2018-09-04 09:56] confuser commented on #6
It should be possible, but unfortunately this library was designed with servers in mind and will require substantial changes.

[2018-09-11 06:51] arvi commented on #2
I am also waiting for a solution to this :smile:

[2018-09-25 07:22] koresar opened #9 "Constrainting GraphQL ID type"
Do you think it's reasonable to use this directive for GraphQL `ID` type?
[code]

The only caveat here - ID can be both string and number.

I'd be happy to PR this feature.

[2018-09-25 22:09] confuser commented on #9
Not sure I agree if it's necessarily beneficial to do instead of a custom scalar, but happy to accept a PR for it

[2018-09-26 00:09] koresar commented on #9
Hm... How to validate a customised scalar? I didn't know it's possible.

[2018-09-26 09:06] confuser commented on #9
In a similar way this module works (minus the directive part). Create a custom scalar, perform your validation checks within `serialize`, `parseValue`, `parseLiteral` (depending on use case) and throw if it fails.

[2018-09-26 23:18] koresar commented on #9
Got it. Sounds like this directive is a good place for such a code.

I'll allocate some time for the pr.

Thank you for the help.

On Wed., 26 Sep. 2018, 19:06 James Mortemore, <notifications@github.com>
wrote:

[2018-11-19 14:19] kristianmandrup commented on #9
Any progress on this?

[2018-11-19 21:34] kristianmandrup commented on #6
I'm working on this in my branch. I finally cracked the nut I think.

See [validating complex types](https://github.com/kristianmandrup/graphql-constraint-directive?organization=kristianmandrup&organization=kristianmandrup#validating-complex-types)

[2018-12-11 16:42] gerwinbrunner commented on #2
@FrankSandqvist Could you share how your Scalar files that you read in look like?

[2019-01-02 09:18] pvtri96 opened #11 "Allow directive to work on argument definition"
Is this possible to make this directive support both ARGUMENT_DEFINITION and INPUT_FIELD_DEFINITION?

[2019-01-04 11:56] confuser commented on #11
Unfortunately not at the moment due to a bug in graphql-tools. See #1 for more info.

[2019-01-29 07:53] FluorescentHallucinogen opened #12 "Custom scalars vs custom schema directives"
At the moment, I'm working on a GraphQL API architecture for my app. And I'm interested in pros and cons in using custom scalars vs. custom schema directives for validation (in the limitations and potential flexibility of each of these approaches).

See, e.g. [@okgrow/graphql-scalars](https://github.com/okgrow/graphql-scalars) for a library of custom GraphQL scalar types for creating precise type-

[2019-01-29 12:31] FluorescentHallucinogen opened #13 "Add support of logical operations"
In current implementation rules inside `@constraint` directive are combined by logical (boolean) `AND`:

[code]

Custom directives in GraphQL are also combined by `AND`:

[code]

What about adding support of logic operations (`AND`, `OR` and `NOT`) for nest rules (similar to https://github.com/maticzav/graphql-shield#and-or-not)? Something like (the syntax is subject to discussion):

[code]

or

[

[2019-01-29 13:24] FluorescentHallucinogen opened #14 "Standardize rule names"
This package is currently in fact dealing with two things:

* the `value` of field
* the `length` of field

The names of rules for these things can be improved (standardized).

What's wrong with current names? They are not intuitive. E.g. `min` and `minLength` are `greater than` or `greater than or equal to`?

I really like how [Prisma](https://github.com/prisma/prisma) auto-generates names by pos

[2019-01-29 14:01] confuser commented on #12
Unfortunately yes, due to a bug within graphql-tools. See #1 and https://github.com/apollographql/graphql-tools/issues/789

[2019-01-29 15:31] confuser commented on #13
Open for discussion on the `or` syntax. What example scenarios do you see `not` covering?

[2019-01-29 16:29] FluorescentHallucinogen commented on #13
E.g.:

[code]
or
[code]
or
[code]

Moreover, implementing `not` makes many rules like `notContains` unnecessary in favor of `not` + `contains`.

[2019-01-29 16:41] FluorescentHallucinogen commented on #13
I propose the syntax similar to the syntax that is used in Prisma: https://www.prisma.io/docs/prisma-graphql-api/reference/queries-qwe1/#combining-multiple-filters.

[2019-01-29 17:34] FluorescentHallucinogen commented on #12
@confuser This bug was opened more than 8 months ago and still has not been fixed. Do you know how to fix it? If yes, could you please create the pull request for `graphql-tools` to fix it? This would be a lifesaver.

Does this bug affect only `ARGUMENT_DEFINITION` or other directive locations like `MUTATION`, `OBJECT`, `FIELD_DEFINITION`, etc. too? If yes, then this is a serious bug. I'm working

[2019-01-30 07:31] FluorescentHallucinogen commented on #13
[code]

I was wrong. According to https://facebook.github.io/graphql/June2018/#sec-Directives-Are-Unique-Per-Location, it's not possible to use more than one directive of the same name for the same location.

[2019-02-01 22:34] confuser commented on #14
Thanks for the suggestion, however I'd prefer to stick with camel case notations

[2019-02-01 22:34] #14 closed

[2019-02-01 22:36] confuser commented on #13
That's interesting, because it's definitely supported within graphql and is the current behaviour

[2019-02-01 22:38] confuser commented on #12
@FluorescentHallucinogen No, I do not. I'm not familiar with the `graphql-tools` codebase. I haven't tested other directive locations.

[2019-02-08 16:41] fennecbutt opened #15 "Example doesn't work"
The example in the README doesn't work with the error: Error: Unknown directive "constraint".

As far as I can tell the directive returns its own definition, it shouldn't need to be defined in the graphql schema, right?

I've created a file containing only the js from the readme with the various imports installed, still get this error.

[2019-02-08 17:23] fennecbutt commented on #15
I've just found that this is because of a breaking change in graphql 14 mentioned here: https://github.com/apollographql/graphql-tools/issues/957

Now we have to manually define custom directives in our schema...

[2019-02-26 19:41] judielr opened #16 "Add support to optional fields"
Actually it's impossible to use constraints with optional values.

For example:
this doesn't work if `birth_date` is not present
[code]

And this would be awesome!

[code]

I think this improve would increase the package capabilities .

Thanks!

[2019-03-21 16:36] luismaldonadov commented on #15
I dont know if your problem is exactly like mine, but when working in custom directives for example

`extend type Query {
  me: String! @requireAuth
  user(userId: ID!): User!
  users: [User]!
}`

With the graphql-tools update , the definition of the directive is needed within the schema, something like this

`directive @requireAuth on FIELD_DEFINITION`

Also i removed the direct dependency of gra

[2019-04-03 10:01] anhldbk commented on #15
I've got the same problem

[2019-04-10 20:37] FluorescentHallucinogen commented on #12
@confuser

As for the my custom scalars vs. custom schema directives for validation question, I've deep dived into how this package works and realized that it uses custom scalar types under the hood (wraps the field to which the directive is applied into custom scalars). So these are essentially equivalent things. Right?

[2019-04-10 20:59] FluorescentHallucinogen commented on #13
@confuser

See https://github.com/graphql/graphql-js/blob/master/src/validation/rules/UniqueDirectivesPerLocation.js.

[2019-04-30 06:52] padenj commented on #2
I ran across this issue trying to solve a similar issue in a custom directive I created.  My situation was slightly different, but I came up with a solution that could work for this issue as well.  It would require an update to the directive and I'm not sure how/if it would affect non-Apollo users.
The issue is that a new type is being created in the directive schema visitor, but the type is not b

[2019-04-30 13:31] BrenoMazieiro commented on #15
[code]

[2019-07-20 11:00] rimiti commented on #15
Some problem.

[2019-07-29 02:05] williamkwao commented on #16
@confuser I was going through the code to figure out why this is not working for optional fields but I couldn't find why this is happening. I'll take a good look again to see whats going on. If you can give me a brief explanation on why this is happening, I'll make a PR for this issue.

[2019-07-29 09:02] confuser commented on #16
@williamkwao most likely to do with checking for NonNull fields https://github.com/confuser/graphql-constraint-directive/blob/master/index.js#L53 Should probably pass in an argument to the String/Number field types to check whether a value is required or not

[2019-07-30 04:29] williamkwao commented on #16
@confuser Thanks!  I'll take a stab at it.  If that is the case, shouldn't it default to the conditional without the GraphQLNonNull check?  https://github.com/confuser/graphql-constraint-directive/blob/11b01363b9151814efe4598e7dad48ffd5934181/index.js#L55

[2019-07-31 16:28] thijssteel opened #18 "originalError is undefined"
When trying to customise the error, i seem to be unable to access the originalError property.

Using the following function as error formatter
[code]

Simply logs `original error {}` to the console.

I was able to access the original error when using node-graphql-constraint-lambda, but they don't seem to throw custom errors, so it might just be a problem with apollo/graphql.

I'm using graphql@14.

[2019-07-31 21:34] thijssteel commented on #18
Ok, i have been debugging this and i've finally found the answer.
Because the originalError property is not enumerable, it doesn't show up when console logging. Because of this i missed the fact that the original error is actually located at `error.originalError.originalError`

[2019-08-17 15:53] TienHuong commented on #2
@FrankSandqvist Could you show your scalar files?
I'm facing this issue. Having other solutions for this?

[2019-08-20 10:53] confuser commented on #18
It shouldn't be located in `error.originalError.originalError`, there is a test case covering this https://github.com/confuser/graphql-constraint-directive/blob/master/test/string.test.js#L58-L73 unless this is an issue with a newer version of apollo? Which version are you using?

As for it not being enumerable, I'm not sure if that can be resolved in this module, as the error is wrapped by apollo

[2019-08-22 00:51] ccpacillos opened #19 "GraphQL Playground DOCS tab stuck in loading"
I'm not sure what's the problem, but using this makes DOCS tab from GraphQL Playground stuck in loading animation (spinning disk).

[2019-08-22 20:00] confuser commented on #19
Duplicate of issue #2 where graphql-tools leaks the constraints

[2019-08-22 20:00] #19 closed

[2019-09-28 13:41] Kriskator opened #20 "No number validation on 0"
I tried to add `@constraint (min: 0)` but number constraints like these checking on 0 don't work, because of if conditions like this:
`if (args.min && value < args.min) { `

args.min is false on 0, so no validation will happen. I think args.min !== undefined would do it.

[2019-10-11 09:05] #20 closed

[2019-10-14 07:57] ichtestemalwieder opened #22 "feat: "Custom Validator via Callback""
Hallo,

thanks for the great project. Please also provide  a Validator, that allows to specify a callback/anonymous function that is used for validation, so one can easily create custom complex validation logic on the fly.

Thanks very much.

[2019-10-15 08:46] confuser commented on #22
What would be the benefit of this over doing the validation in a resolver function?

[2019-10-15 10:17] ichtestemalwieder commented on #22
Thanks for your reply! I am new to TS/GraphQL. Realilzing now, that most likely it makes more sense to write a whole new contraint directive (when used multiple times) or include it in the resolver (when used one time). Sorry for opening an issue.

[2019-10-15 10:17] #22 closed

[2019-12-21 12:03] #15 closed

[2020-01-23 00:53] koresar commented on #2
Hi there. Here is a fresh out of the press new (forked) constraint directive. It's using the idea suggested by @padenj
https://github.com/alexanderVu/apollo-server-constraint-directive

[2020-01-24 01:28] julianomqs commented on #2
@padenj code does not work if you have the `constraint`directive in more than one field of the input, like this:

[code]
because of this if:

[code]

Steps of directive resolution:

1) When the `login` field is processed by the directive visitor a new `ConstraintString` scalar is created with `fieldName` value being `login` and set in the field type.

2) In the `if` above the type created for `log

[2020-02-07 06:31] hashinclude72 opened #24 "directives not working with apollo-server-lambda"
constraints are not working with [apollo-server-lambda](https://www.apollographql.com/docs/apollo-server/deployment/lambda/).

Not giving any errors and queries are getting executed.

[2020-02-08 10:13] sandromartis commented on #24
Are you using `visitSchemaDirectives`?

Try something like this:
[code]

[2020-02-10 06:32] hashinclude72 commented on #24
Thanks for replying, still not working though, I am doing something like this :
Not sure if I am doing it right

[code]

I have `typeDefs` and `resolvers` on diffferent files.

[2020-03-13 15:17] RedHotMan commented on #2
@julianomqs creating a specific scalar type using the fieldName per example would be a solution.
[code]

[2020-03-21 18:59] confuser commented on #5
Just come across the same issue with Apollo 2 as well but noticed there was no `errors` array on originalError. Instead they appeared to be nested, perhaps due to not using `makeExecutableSchema`, had to use the following

[code]

[2020-04-01 11:45] wdalmut commented on #24
i finally ends up here. Same problem no validation occurs with apollo and lambda functions

[2020-04-29 01:36] alejalapeno commented on #24
[code]
These scalar types in the example definition were preventing validation for me.

If you've included them in your `typeDefs` try removing them.

[2020-05-12 18:46] cmartin81 commented on #2
This works for now! Thanks.
I did almost the same use this
`const scalars = makeExecutableSchema({
  typeDefs: `
  scalar ValidateString
  scalar ValidateNumber
`,
});`

[2020-05-21 19:40] #2 closed

[2020-05-21 19:40] #18 closed

[2020-05-21 19:40] #3 closed

[2020-05-21 19:41] #9 closed

[2020-05-21 19:42] #5 closed

[2020-05-21 19:43] #24 closed

[2020-06-02 12:31] kunhuangau opened #33 "GraphQLNotNull not supported"
Use example in readme:
`input BookInput {
    title: String! @constraint(minLength: 5, format: "email")
  }`
The `!` is gone after generate schema.  I have cloned the repo and with the fix in my local testing but without permission to create the PR.

[2020-06-02 12:37] kunhuangau commented on #33
[code]

[2020-06-02 13:14] confuser commented on #33
You should be able to create a PR. If not, I'll open one. Can you add a test case for this please? Thanks!

[2020-06-03 01:04] kunhuangau commented on #33
@confuser I got `remote: Permission to confuser/graphql-constraint-directive.git denied` and can't push my local fix branch to remote

[2020-06-06 08:08] #33 closed

[2020-07-09 10:55] hashinclude72 commented on #11
please add support for this

[2020-07-09 11:23] hashinclude72 opened #38 "apollo server version 2"
hi, i just wanted to confirm that does this package works with `apollo-server` v2 because in lot of forums its written it does't but also those comments are fairly old.

If it does work with v2, its not working for me , i have done something like this 🤷‍♂️ :

[code]
please help 👱‍♂️

[2020-07-09 19:29] confuser commented on #38
Yes it works, tests are all passing. Any particular reason you're using the spread operator on your schema?

[2020-07-10 06:45] hashinclude72 commented on #38
Thats because my schema is already a array of schemas from diff files.

OK now it works because i imported `makeExecutableSchema` from `graphql-tools` , but i have to install that package only for this purpose. It id not working if i import `makeExecutableSchema` from `apollo-server` .

BTW thanks for the reply 🙆‍♂️

[2020-07-10 08:42] #38 closed

[2020-07-17 09:32] hieu0nguyen opened #40 "originalError not available in formatError"
Hello,

I am using graphql-constraint-directive with apollo-server-express
But in formatError, when I call error.originalError it always return undefined.
Here my code:
[code]

Please help me how can I fix it.

[2020-07-17 09:55] confuser commented on #40
How are you using it? The debugger or `console.log(util.inspect(error, {showHidden: true, depth: null}))` should show the details. From what I recall, either GraphQL or Apollo defines them as hidden properties so a simple console.log won't show them.

[2020-07-18 02:40] hieu0nguyen commented on #40
Thank you for your reply. When I use `console.log(util.inspect(error, {showHidden: true, depth: null}))` it was show the details. But when I log the message, it still not show anything:
[code]
Please help me how can I show the message?

[2020-07-21 23:56] madarco commented on #16
Any updates on this issue? Thanks!

[2020-08-03 17:36] grillorafael opened #41 "Is there any way to make this library work alongside Apollo federation?"
I didn't find a way to have makeExecutableSchema work alongside Apollo-federated. Is there any way to use this library while using Apollo federation?

[2020-08-21 17:24] ahmoha opened #42 "Type name is too long with directive constraints: uniqueTypeName"
Hi,

Can there be a way that the uniqueTypeName is referred from the directiveArgumentMap and pass something like "typeName" as an argument to the directive? If not passed, it could generate the uniqueTypeName as is today.

Reason being this ends up generating a pretty long type name if you've a couple of constraints on it and the type names become not so friendly/readable when you use something l

[2020-08-24 03:53] menglingyu opened #44 "how to use with @apollo/federation"
how to use with   @apollo/federation  buildFederatedSchema

[2020-08-24 14:29] ahmoha commented on #42
PR: https://github.com/confuser/graphql-constraint-directive/pull/43

[2020-08-25 13:02] robross0606 commented on #41
There are multiple tickets opened with this same question.  I also have this question.  I've been able to get the federated schema to show the constraint directive in it.  There are no errors at startup and no complaints about my declaration or usage of @constraint in the schema.  However, no errors are thrown when testing constraint violations either.  It simply doesn't do anything.

[2020-11-10 07:29] mstmustisnt opened #47 "Doesn't Work with `extend input`"
Works with a plain input

![Screenshot 2020-11-10 092629](https://user-images.githubusercontent.com/13254351/98643068-1eb0aa80-2337-11eb-8110-b7203eda90ae.png)

Throws an error with an extended input

![Screenshot 2020-11-10 092729](https://user-images.githubusercontent.com/13254351/98643072-1f494100-2337-11eb-95a6-9a110f792ebd.png)

[2020-11-10 07:46] mstmustisnt opened #48 "Directive Doesn't Work When using `makeExecutableSchema` from "apollo-server-express""
The directive makes no effect when used with `makeExecutableSchema` from "apollo-server-express"
In the screenshot below you can see that we expect the email string of length >5 as a title and limit >0
As you can see, limit: -1 and title: "st" are allowed, although they shouldn't pass the validation.
![image](https://user-images.githubusercontent.com/13254351/98644454-25d8b800-2339-11eb-809d-9db5f

[2020-11-11 07:58] Axighi commented on #48
I got same issue. Switch to @graphql-tools/schema makeExecutableSchema works.

[2020-11-18 12:03] confuser commented on #48
I believe this is expected, the readme indicates `makeExecutableSchema` from graphql-tools must be used as well

[2020-11-18 12:03] #48 closed

[2020-11-18 12:04] #42 closed

[2020-11-18 12:05] #16 closed

[2020-11-19 03:39] neolivz opened #49 "graphql peer dependency should be 14.0.0 instead of 0.14.0"
There is no `0.14.0` of graphql version.
It should be `14.0.0` in  `peerDependencies`

[2020-11-19 11:11] #49 closed

[2020-11-19 13:17] neolivz opened #51 "Can we release latest version"
Can we release the latest version, as I have peerdep issue with graphql `0.14.0` failing?

[2020-11-19 14:22] confuser commented on #51
Published as `v2.1.1`

[2020-11-19 14:22] #51 closed

[2020-12-30 01:48] gpaluk opened #52 "Unable to apply constraints to a new Apollo server project"
I am getting back no errors when I apply constraints to my new Apollo server project. I have created a minimal project to illustrate the point at:

https://github.com/gpaluk/apollo-graphql-mfp

When using the following GraphQL query in the playground, the entity gets created which is undesired:

[code]

[2020-12-31 14:56] confuser commented on #52
It looks like you're using `neo4j-graphql-js` instead of `graphql-tools` `makeExecutableSchema` function. I'm not familiar with it nor has this module been tested against it. Would suggest opening an issue with the author, happy to accept a PR to add compatibility.

[2021-01-09 14:02] gpaluk commented on #52
During ongoing discussions over at: https://github.com/neo4j-graphql/neo4j-graphql-js/issues/562 - I have been testing around this library and have a question about the working ideas of this library. Entities seem to be added into the database regardless of whether or not they are valid?!.. Then only if one is to return the field in the GraphQL statement does the check occur and return an error re

[2021-01-09 14:08] gpaluk commented on #52
I have tested just the @unique annotation from `neo4j-graphql-js` and that guards against the insertion of entities into the database as expected.

[2021-01-09 14:51] confuser commented on #52
The issue you're describing is still likely caused by `neo4j-graphql-js`. I've checked your example repo, and within the schema I can't see any `input`s being defined, nor can I see where your mutation queries are being defined either?

[code]

[2021-01-10 20:40] gpaluk commented on #52
Hi @confuser - Actually, everything is autogenerated by `makeAugmentedSchema`. This should be clear if you build and head to the playground. All of the schema is described in the relevant tab as usual.

[2021-02-13 18:56] niraj-khatiwada commented on #40
Is this solved?

[2021-02-17 09:28] niraj-khatiwada commented on #40
Hey @confuser Is there a way to enable what fields to be included for error that is seen through util.inspect but is hidden by graphql? I am really struggling to get the format error work since error doesn't have originalError right now.

[2021-02-18 10:19] igrek8 commented on #24
Make sure the resulting `typeDefs` contains `@directive`. Otherwise, the directive will be applied. See https://github.com/dotansimha/graphql-code-generator/issues/3899

[2021-03-03 23:14] robross0606 opened #55 "constraintDirective() wipes out __resolveReference() resolver"
When passing this transform over a federated schema, the constraint directive `mapSchema()` function wipes out and destroys the `__resolveReference()` resolver on our type which is responsible for fulfilling entity resolution in a federated schema.

Before calling `transform(schema)` the type looks like this:

![image](https://user-images.githubusercontent.com/2965467/109885233-28df1780-7c4c-11eb-

[2021-03-03 23:25] robross0606 commented on #41
I thought I was able to get this working by executing the transform after building the federated schema.  This produced all the expected behaviors.  However, I just found that the transform wipes out `__resolveReference()` functions on the resolvers, rendering entity type resolution non-operational.  I'm back to square one with using this.  It would be _really_ nice if contributors could at least

[2021-03-04 02:06] robross0606 commented on #55
I did some digging and turns out this is caused by `graphql-tools/utils` `mapSchema()`.  ardatan/graphql-tools#2687

[2021-03-04 13:19] robross0606 commented on #12
@FluorescentHallucinogen, this is my understanding as well.  From what I can tell, the directives are run through a GraphQL transform using `graphql-toosl/utils` utils`mapSchema()` and end up being replaced by generated scalars.

[2021-03-09 12:36] confuser commented on #52
@gpaluk closing as it appears to be neo4j specific based on https://github.com/neo4j-graphql/neo4j-graphql-js/issues/562

[2021-03-09 12:36] #52 closed

[2021-03-09 12:36] confuser commented on #44
duplicate of #41

[2021-03-09 12:36] #44 closed

[2021-03-09 12:40] confuser commented on #41
@robross0606 Sorry for your frustrations, I haven't used Apollo federation. Thanks for looking into it, it would be great if you could share your changes so once https://github.com/ardatan/graphql-tools/issues/2687 is resolved this can subsequently be resolved quickly

[2021-03-10 15:42] robross0606 commented on #41
@confuser, the example jest test on ardatan/graphql-tools#2687 shows how I execute the transform _after_ building the federated schema.

[2021-03-28 10:21] davidgilbertson opened #56 "Allow detecting null"
I would like to able to assert that a field on an input is optional, but not nullable (so I can do a partial update of an entity). [GraphQL has no such syntax](https://github.com/graphql/graphql-spec/issues/542) so I was hoping I could use this dirctive for that.

Something like:
[code]

Is this possible?

[2021-03-28 12:28] confuser commented on #56
Not possible with GraphQL itself (https://github.com/graphql/graphql-spec/issues/476) but might be possible to support via a directive. However, I'm not sure it fits in with this library; happy to be challenged though.

[2021-05-07 11:16] shubhamprshr27 opened #62 "Add support for custom scalars"
Can we think about adding support for scalars as well?

This shall help speed up development and validations.

[2021-05-19 15:34] pedrobarquinha opened #64 "Add support for Argument constraints."
Would be great if the type definition included `on ... | ARGUMENT_DEFINITION` so a constraint can be applied to query arguments.

[2021-05-19 15:52] #64 closed

[2021-07-16 05:12] robertu7 opened #66 "Add array support"
For instance,

[code]

[2021-07-29 18:36] iambumblehead commented on #11
hey everyone I was struggling to validate `ARGUMENT` using the latest graphql-tools packages. I tried using the constraint package here and eventually found this issue thread which pointed me in a new direction.

This worked for me and might work for this package,
[code]

[2021-09-03 12:34] ErnestoCamilo opened #70 "Separate modules and constraint not working"
I have the following configuration on my server
![image](https://user-images.githubusercontent.com/89998025/132005477-c5dc0165-aec3-437f-a694-cf29a2fb2717.png)
Each module export
![image](https://user-images.githubusercontent.com/89998025/132005601-fc0cc3ee-eb60-4975-b74e-bf92ada2b6de.png)
And the configuration on schema
![image](https://user-images.githubusercontent.com/89998025/132005770-51794f6

[2021-09-06 15:56] vinaybishnoi29 opened #71 "@constraint directive not working after upgrading to Apollo Server 3"
After upgrading apollo-server 3, the constraint directive is not working.
I have upgraded apollo-server to 3.3.0, graphql-tools to 8.1.0 and graphql-constraint-directive to 2.1.1

Do we have plans to support Apollo server 3 upgrades?

[2021-09-06 16:54] gsaini commented on #71
+1

[2021-09-06 19:50] vespaiach commented on #71
I found that the `schemaTransforms` option doesn't exist on `makeExecutableSchema` parameters. You have to call `constraintDirective` function directly and pass the `schema` into it.

Here is example:

[code]

[2021-09-07 08:55] confuser commented on #70
What version of Apollo are you using?

[2021-09-07 09:02] confuser commented on #71
I'm not up-to-date with Apollo major releases, but it appears to be a Usage issue rather than needing internal changes based on @vespaiach's investigation. Can others confirm this is the case?

[2021-09-07 14:20] vinaybishnoi29 commented on #71
@vespaiach I tried this and it works fine. Thanks for the prompt reply.

[2021-09-07 14:22] vinaybishnoi29 commented on #71
@confuser The usage changes mentioned by @vespaiach fixed the issue and the constraint directive works now.
Thanks for the prompt reply.

[2021-09-10 13:07] #71 closed

[2021-09-13 12:07] chialuka opened #75 "Add TypeScript support"
It would be really nice to have types added so that we can use this library with TypeScript.

I would be happy to help with this too.

[2021-09-13 12:08] chialuka commented on #75
I saw a PR for this already. So closing

[2021-09-13 12:08] #75 closed

[2021-09-15 13:30] karavaan opened #76 "Support Lists"
It would be nice if there was support for list constraints in particulair:

`minListLength` and `maxListLength`

[code]

[2021-09-15 14:25] karavaan commented on #76
I got most of the code ready for this: https://github.com/karavaan/graphql-constraint-directive/blob/master/scalars/list.js

Only I can't get it to work for a list of objects, the fields get lost when the custom scalar gets created.

You can see this unit test failing for example: https://github.com/karavaan/graphql-constraint-directive/blob/master/test/list.test.js#L1206

I'm not even sure if a c

[2021-09-15 14:51] confuser commented on #76
I can't see tests failing, only the code ;) You shouldn't be losing the `Title` type 🤔 Unfortunately the only way to achieve this library at the time was to use a custom scalar; you could try overwriting the resolver function instead and see if that suffices?

[2021-09-30 11:25] JonathanCallewaert commented on #40
I fixed returning my errors to the frontend by adding the following code:
[code]

[2021-11-03 02:44] anjith-sm opened #78 "min value validation throws errors"
When I tried to give min value constraint value as 0.01 got the below error:

_Argument "min" has invalid value 0.01._

Input looks like this:

input someInput {
  someId: ID!
  someValue: Float! @constraint(min: 0.01, max: 3)
}

[2021-11-03 10:11] confuser commented on #78
This will be because the `constraintDirectiveTypeDefs` definition has min/max as an Int rather than a Float. You can work around this by performing a string replace before adding it to your schema but understand this seems rather 'hacky'. Open to suggestions and/or PRs!

[2021-11-21 11:21] #70 closed

[2021-11-29 09:39] Santinell commented on #11
@confuser
I forked and added as @iambumblehead writed
https://github.com/Santinell/graphql-constraint-directive/commit/9fc5378be4b6c82615232ec70e819b8c38685363

and looks like it works. But I'm not sure that it will work for all cases, because I didn't write tests.

[2021-11-29 12:10] Santinell commented on #11
I was wrong - it's OK only if you use inline values. But if you use variables - it doesn't work

[2021-12-15 20:47] #78 closed

[2022-01-03 20:49] BarbecueSilver opened #84 "`constraintDirectiveTypeDefs` should be a `DocumentNode` ?"
Hej there!

Thanks for this project. :smile::+1:

I just tried to update your package from `2.1.1` to `2.3.0` and noticed that `constraintDirectiveTypeDefs` is a `string`.
Shouldn't it be a gql `DocumentNode`?

Kind regards :wave:

[2022-01-03 21:15] confuser commented on #84
The TypeScript definitions were added in #68, happy to accept a PR if they're not correct

[2022-02-02 07:04] mpiorowski opened #85 "Getting "Couldn't find type constraint in any of the schemas." error"
I use graphql-tools to load up multiple files into one schema. Maybe i should set it up diffrently? Pls help :)
[code]

[2022-03-09 22:44] oxo0300 opened #87 "Unexpected token '.' version 3.0.0"
@confuser
node_modules/graphql-constraint-directive/index.js:116
const directiveArgumentMap = getDirective(schema, fieldConfig, 'constraint')?.[0]

[2022-03-09 22:47] oxo0300 commented on #87
Possible Fix
const directiveArgumentMap = getDirective(schema, fieldConfig, 'constraint')?[0];

[2022-03-10 10:15] confuser commented on #87
Hi @oxo0300, this is using [optional chaining](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining) which is supported as of Node 14+. Given the current LTS is 16, I'd recommend updating your nodejs version if possible.

If not and are not yet using graphql v16, feel free to continue using v2 of this package

[2022-03-10 10:15] #87 closed

[2022-03-15 14:27] maxbarbul opened #88 "Is there a way to have nullable field with constraint?"
[code]

with the schema in the example above, I'm unable to send `null` as a value for `excerpt` because constraint asserts string type. Basically, the field became mandatory.

[2022-03-16 00:27] confuser commented on #88
Hi @maxbarbul, you should be able to send null. I've just added some explicit tests showing this

[2022-03-16 03:55] roshal opened #89 "variable used in position expecting type value_String_NotNull_maxLength_255"
![image](https://user-images.githubusercontent.com/1476565/158513389-69b64dd2-322a-4243-b6e9-40a4a402c6c7.png)

had to comment out all constraints after updating config according to new readme :(

i want to use `String` type in request but not an arbitrary `value_String_maxLength_255`

[code]

config below works improperly

[code]

config below does not work

[code]

[2022-03-16 10:23] confuser commented on #89
Based on the stack trace it appears you're using graphql v15. You need to downgrade to v2 of this package, as v3 supports apollo v3 & graphql v16+ only. I'll update the readme to make that clearer

[2022-03-16 10:23] #89 closed

[2022-03-18 01:59] roshal commented on #89
thanks

https://github.com/confuser/graphql-constraint-directive/commit/44340b8daf495954a6556f81136bea4d6be429e8

[2022-03-23 14:46] #88 closed

[2022-03-23 14:46] #66 closed

[2022-05-10 13:28] velias commented on #76
What about using `maxItems` and `maxItems` to stay compatible with "GraphQL Constraints Directives RFC"?

[2022-05-10 13:51] velias opened #92 "Feature Request: run as server validation rules instead of wrapping schema types"
Allow to run query validations as [server validation rules](https://www.apollographql.com/docs/apollo-server/api/apollo-server/#validationrules) instead of wrapping types in schema.

@confuser I can try to contribute this feature if you would be open to merge it.

[2022-05-10 14:11] confuser commented on #92
Hi @velias. Thanks for the suggestion. I'm not familiar with the validationRules option, could you enlighten me on what this would help achieve with this module? 🙂

[2022-05-11 06:29] velias commented on #92
This approach allows to keep Schema as is, without changing types to custom scalars. So in schema there will be common String or Int, but query validation will be applied to it still.

`validationRules` are simply server side code run during the query validation phase, they have access to complete query but also Schema with directives, so they can validate query against constraints set by the dire

[2022-05-11 06:33] velias commented on #92
And this might also solve Apollo Federation issue #41 as federation runs in Apollo Server so I believe `validationRules` can be used there (not tested from me).

[2022-05-16 13:00] richard-julien opened #93 "esbuild cannot bundle graphql-constraint-directive"
Since the list of builtin stores is static, they're is no need to make dynamic require.
Possible workaround: specify an esbuild inject scripts, however it would be more convenient to avoid that.

[2022-05-16 16:51] #93 closed

[2022-05-18 12:19] velias commented on #92
@confuser OK, I'm relatively new to nodejs, so challenge accepted ;-)

[2022-05-26 20:40] simlu opened #97 "Plugin not compabible with @vercel/ncc"
This plugin will currently make the output for [@vercel/ncc](https://github.com/vercel/ncc) fail when compiled with esm target.

I've adjusted the requires as appropriate in this [PR](https://github.com/confuser/graphql-constraint-directive/pull/96)

Ready for review. This is a very simple PR, and I am hoping we can get this merged and released in a timely manner! Cheers!

[2022-05-27 02:53] simlu commented on #97
fix released [here](https://github.com/confuser/graphql-constraint-directive/pull/96) and working

[2022-05-27 02:53] #97 closed

[2022-05-30 18:41] simlu opened #98 "Using "uniqueTypeName: Int" behalves unexpected"
When using `limit: Int @constraint(uniqueTypeName: "Int", min: 1, max: 200)`,
I would expect the validation to still run. However no errors are generated.

Is this expected behavior? Is this something this library should support?

I get that conceptually there could be two types of "Int" (one with a constraint and one without) - which goes a little against the graphql schema logic. Consider throwi

[2022-06-03 11:16] confuser commented on #98
Yes, this is expected. The validation won't run in this case; as the name suggests it needs to be a unique name. Under the hood, this module auto generates a unique type for anything decorated with the directive.

The correct action would be to throw an error if it's a type name which already exists

[2022-06-03 12:03] simlu commented on #98
@confuser OK thank you for the reply! Should this issue be labeled improvement then?

[2022-06-06 12:00] TheDutchCoder opened #99 "[Feature]: allow empty values"
Hey thanks for this easy to use package, but I'm not sure how to deal with empty values.

For example, someone filling out an email field (constraint works fine), but then removing that value (empty string or null) and then the constraint will throw an error and there doesn't seem to be a way around this.

A practical use-case is someone updating their profile information where they have the abili

[2022-06-06 12:03] TheDutchCoder commented on #99
Ah, I think you're allowed to `null` fields, instead of empty strings, looks like that works!

[2022-06-06 12:03] #99 closed

[2022-08-09 20:18] MiroslavPetrik opened #101 "ConstraintDirectiveError typescript definition"
I have a use case where I have to translate the error message, so I have to go over the error structure and map it.

Here is my partial type I'm currently using
[code]

[2022-08-31 12:25] #92 closed

[2022-09-05 13:12] avaly opened #104 "Error thrown in query with `@skip` directive"
Using this package v4.0.0 (as an Envelop plugin) is throwing errors for queries containing the [`@skip` directive](https://spec.graphql.org/October2021/#sec--skip).

This query:

[code]

Throws the following error:

[code]

[2022-09-05 19:53] #76 closed

[2022-09-05 19:56] #104 closed

[2022-09-05 20:01] confuser commented on #85
This should be resolved in v4 🤞

[2022-09-05 20:01] #85 closed

[2022-09-05 20:01] confuser commented on #104
Published as v4.1.0

[2022-09-05 20:02] #84 closed

[2022-09-05 20:03] #40 closed

[2022-09-05 20:04] confuser commented on #41
I believe this is now resolved with the latest v4 release

[2022-09-05 20:04] #41 closed

[2022-09-05 20:07] #56 closed

[2022-09-05 20:10] #55 closed

[2022-10-04 10:08] javi11 opened #107 "Typings for Apollo are not correct"
Hey, we saw that typings as a Apollo plugin are not valid we see this error:

`
(alias) createApolloQueryValidationPlugin(): (schema: GraphQLSchema) => function
import createApolloQueryValidationPlugin
Type '(schema: GraphQLSchema) => function' is not assignable to type 'PluginDefinition'.
  Type '(schema: GraphQLSchema) => function' is not assignable to type '() => ApolloServerPlugin<BaseContext>

[2022-10-07 15:34] confuser commented on #107
PRs welcome

[2022-10-14 11:47] Yimiprod commented on #107
Hi, there's another problem with that type, the implementation is something like this
[code]

which is not what the type say

[2022-10-14 11:53] Yimiprod opened #108 "[Help] How to make eslint graphql plugin know that custom directive"
Hi

I use `@graphql-eslint/eslint-plugin` to validate my graphql files and the directive `@constraint()` is said unknow by it, which make ESlint throw an error.

How do i configure my graphqlconfig file to get the typedefs from graphql-constraint-directive ?

[2022-10-14 14:06] Yimiprod commented on #107
@confuser i've put a PR in review if you like

[2022-10-16 13:29] #107 closed

[2022-10-16 13:35] confuser commented on #108
This isn't an issue with this library. Please ask the author of that module. A quick search shows they added supported: https://github.com/B2o5T/graphql-eslint/issues/833

[2022-10-16 13:35] #108 closed

[2022-10-16 14:54] renovate[bot] opened #111 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [ ] chore(deps): pin dependencies (`@graphql-yoga/node`, `coveralls`, `express`, `express-graphql`, `graphql`, `mocha`, `

[2022-10-27 13:50] Yimiprod opened #128 "Typescript support for @apollo/server V4"
Apollo just release a [new major version](https://www.npmjs.com/package/@apollo/server) for Apollo Server making the typing of `createApolloQueryValidationPlugin` invalid.

The diff is like this:

[code]

The plugin structure doesn't change tho. So maybe something like this would work:

[code]

For anyone needing a temporary patch:

[code]

[2022-11-07 16:17] Tom-Pearce opened #131 "Throwing errors with Apollo Server/Apollo Gateway"
tldr; failed input validations not returning correct error code for Apollo Servers, thus preventing Apollo Gateway from displaying the error messages in a concise object.

Hello,

Currently implementing the constraint directive on an Apollo Server instance, that is acting as an auth microservice.

This then sits behind my Apollo-server-express gateway.

The issue I'm having is that when an input v

[2022-11-07 16:35] Tom-Pearce opened #132 "Building executable schema, for an Apollo subgraph"
Hello,

This is less of an issue, more of a topic for documentation/suggested docs update.

I was trying to implement the constraint directive on an Apollo server instance, that is being used as a subgraph for my Apollo Gateway (and managed federations).

The Apollo specific documentation on the readme only talks about use in a standalone server that is not acting as a subgraph or microservice (or

[2022-11-09 10:59] confuser commented on #132
Thanks @Tom-Pearce, would you be willing to open a PR to add this to the documentation?

[2022-11-09 10:59] confuser commented on #128
PRs welcome :)

[2022-11-09 11:03] confuser commented on #131
Given GraphQL now supports this (it didn't before!) we should probably remove the custom ValidationError object and always throw a GraphQLError

[2022-11-11 12:09] #132 closed

[2022-11-28 12:24] IgorSSilveira opened #136 "Constraint validation fails requires apollo-server for errors in @apollo/server v4"
'@apollo/server' v4 removed the 'ApolloError' classes, so whenever a constraint validation fails it throws the following error out:

[code]

Migration to v4 using 'GraphQLError' is documented [here](https://www.apollographql.com/docs/apollo-server/migration#apolloerror).

I have tried changing the code that throws 'UserInputError' to throw a GraphQLError in [createApolloQueryValidationPlugin](http

[2022-11-29 15:34] BahaaZidan opened #137 "Is there a way to annotate a directive to all the generated scalars ?"
I'm implementing fine control over introspection. This requires me to annotate all the types/fields that I want to be visible to the introspection query with a `@public` directive. This of course includes the scalars generated by the constraint library. So is there a way to annotate the generated validation scalars with a directive ?